#wrapper {
	padding: 1% 5% 2% 5%;
	background-color: #c6c2b1;
	background-image: linear-gradient(180deg, #c6c2b1 0%, #ffffff 50%, #ffffff 100%);

}

.logoText {
	font-size: 15px;
	float: right;
	padding: 15px 5px;
}

#hr {
	width: 40%;
}

#a {
	color: black;
}

a:hover {
	color: #595959;
}

#a:hover {
	color: grey;
	text-decoration: none;
}

#logo {
	width: 50px;
	/*animation*/
	animation-duration: 5s;
	animation-delay: .5s;
	animation-iteration-count: 2;


}

.about {
	background-color: transparent;
}

.aboutP {
	font-size: 35px;
}

#ProjectsH2Animated {
	animation: in 1s ease-in .3s;
}

#animate {
	animation-duration: 2.5s;
	animation-delay: .6s;
}

#animate1 {
	animation-duration: 1s;
	animation-delay: .1s;
}

#animate2 {
	animation-duration: 1s;
	animation-delay: .3s;
}

#animate3 {
	animation-duration: 1s;
	animation-delay: .6s;
}

.contactBtn {
	padding: auto 40%;
}

.hover {
	animation: in 4s;
}

.hover:hover {
	animation: in 4s;
}

#invis {
	color: rgba(0, 0, 0, .0);
}

.img-thumbnail {
	background: transparent;
}

nav {
	margin: 1% auto;
}

.zfooter {
	margin: 5% auto 0 auto;
}

.zfooter h4 {
	font-size: 15px;
}

.img-thumbnail {
	background-color: transparent !important;
	border-color: transparent !important;
}

@-webkit-keyframes out {
	from {
		-webkit-transform: scale(1);
		-webkit-transform: opacity(50%);
	}

	to {
		-webkit-transform: scale(1.02);
		-webkit-transform: opacity(100%);
	}
}

@-webkit-keyframes in {
	from {
		-webkit-transform: scale(1.02);
		-webkit-transform: opacity(100%);
	}

	to {
		-webkit-transform: scale(1);
		-webkit-transform: opacity(100%);
	}
}
